<%- include ("../partials/header") %> 

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-12"> 
            <h2 class="jumbotron">YelpCamp</h2>
            <div class="list-group">
                <li class="list-group-item list-group-item-primary">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-lg-9 col-md-10 col-sm-12">
            <div class="card">
                <img class="img-responsive" src="<%= campground.image %>">
                <div class="caption">
                    <h4 class="float-right">$9.00</h4>
                    <h4><a href=""><%=campground.name%></a></h4>
                    <p><%= campground.description %></p>
                    <p class="text-muted float-right">
                        <em>Submitted By - <%= campground.author.username %></em> 
                    </p>
                    <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground._id %>/edit ">EDIT </a>
                        <form id="campDeleteForm" action="/campgrounds/<%= campground._id %>?_method=delete " method="post">
                            <button class="btn btn-danger btn-sm">DELETE</button>
                        </form>
                    <% } %>

                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new "><i class="fas fa-plus"></i> Add New Comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row" id="comments">
                        <div class="col col-md-10 ">
                            <strong><%= comment.author.username %></strong>
                            <p>
                                <%= comment.text %>
                            </p>
                        </div>
                        <div class="col-3 col-md-2">
                            <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <a  class="btn btn-sm btn-outline-dark" 
                                    href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                                    <i class="fas fa-edit"></i>
                                </a> 
                                <form id="commentDelete" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <!-- <input class="btn btn-outline-danger btn-sm" value="delete" type="submit" > -->
                                    <button class="btn btn-outline-danger btn-sm" type="submit">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            
                            <% } %>
                        </div>
                    </div>
                    
                <% }); %>
            </div>
        </div>
    </div>
</div>


<%- include ("../partials/footer") %> 
