<%- include ("partials/header") %> 
<div class="container">

    <div id="profile">
        <div class="profilePhoto">
            <img src="<%= currentUser.userProfileImg %> " alt="">
        </div>
        <div class="profileInfo">
            <h2 class="username"><%= currentUser.username %></h2>
            <h3 class="userHandle">@<%= currentUser.username %></h3>
            <h3 class="date">
                <i class="far fa-calendar-alt"></i>
                 Joined <%= currentUser.date.toDateString() %> 
            </h3>
        </div>
    </div>

    <!-- user campgrounds -->
    <div id="campground-grid">
    <h3><i class="fas fa-angle-double-left"></i>
        Your Campgrounds
        <i class="fas fa-angle-double-right"></i>
    </h3>
        <div class="row">
            <% userCampgrounds.forEach(function(campground){ %>
                <div class=" col-md-4 col-sm-6 col-12">
                    <div class="card" id="camp-card">
                        <a href="/campgrounds/<%= campground._id %>">
                            <img class="card-img-top" src="<%= campground.image %> " alt="">
                            <div class="card-body p-0">
                                <h5 class="camp-card-title" id="camp-card-title">
                                    <%= campground.name %>
                                </h5>
                            </div>
                        </a>
                    </div>      
                </div>
            <% }); %>
        </div>
    </div>
</div>


<%- include ("partials/footer") %>