<%- include ("../partials/header") %>
<div class="container">


    <form class="form-group" id="new-form" action="/campgrounds/<%= campground._id %>/?_method=PUT " method="POST">
        <h2 id="new-title">Edit : <%= campground.name %></h2>

        <label class="col-form-label"  for="name">Name</label>
        <input class="form-control" type="text" name="camp[name]" value="<%= campground.name %>">

        <label class="col-form-label" for="image">Image</label>
        <input class="form-control" type="text" name="camp[image]"value="<%= campground.image %>">

        <label class="col-form-label" for="description">Description</label>
        <textarea class="form-control" type="text" rows="3" maxlength="200" name="camp[description]"><%= campground.description %></textarea>
        
        <div class="grid-container">
            <button class="btn btn-success">submit</button>
            <a class="btn-light btn" href="/campgrounds">Go Back</a>    
        </div>

    </form>
</div>

<%- include ("../partials/footer") %> 