
<%- include ("../partials/header") %> 
<div class="outerJumbotron">
    <div class="jumbotron">
        <h1 class="display-4">YelpCamp</h1>
        <p class="lead">YelpCamp is a place to share beautiful campsites on Internet.</p>
        <p><a href="/login" class="btn btn-success">Join now !</a> to share campsites on YelpCamp.</p>
        <p><a href="/campgrounds/new" class="btn btn-lg btn-light">Add New Campground</a></p>
    </div>
</div>


<div id="campground-grid" class="container">
    <div class="row">
        <% campgrounds.forEach(function(campground){ %>
            <div class=" col-md-4 col-sm-6 col-12">
                <div class="card" id="camp-card">
                    <a href="/campgrounds/<%= campground._id %>">
                        <img class="card-img-top" src="<%= campground.image %> " alt="">
                        <div class="card-body p-0">
                            <h5 class="camp-card-title" id="camp-card-title">
                                <%= campground.name %>
                            </h5>
                        </div>
                    </a>
                </div>      
            </div>
        <% }); %>
    </div>
</div>
<%- include ("../partials/footer") %> 
