<%- include ("../partials/header") %> 

<div class="container">
    <div class="card" id="show-card">
        <img class="img-responsive" id="show-img" src="<%= campground.image %>">
        <div class="caption">
            <h4 id="camp-name"><%=campground.name%></h4>
            <p><%= campground.description %></p>
            <p class="text-muted float-right">
                <em>Submitted By - <%= campground.author.username %></em> 
            </p>
            <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
                <a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground._id %>/edit ">EDIT </a>
                <form id="campDeleteForm" action="/campgrounds/<%= campground._id %>?_method=delete " method="post">
                    <button class="btn btn-danger btn-sm">DELETE</button>
                </form>
            <% } %>
        </div>
    </div>

    <div>
        <div class="text-right">
            <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new "><i class="fas fa-plus"></i> Add New Comment</a>
        </div>
        <hr>

        <% campground.comments.forEach(function(comment){ %>
            <div class="row" id="comments">
                <div class="col col-md-10 ">
                    <p id="comment-author"><%= comment.author.username %></p>
                    <p id="comment-text">
                        <%= comment.text %>
                    </p>
                </div>

                <div class="col-3 col-md-2">
                    <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                        <a  class="btn btn-sm" id="btn-edit" 
                            href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                            <i class="fas fa-edit"></i>
                        </a> 
                        <form id="commentDelete" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <!-- <input class="btn btn-outline-danger btn-sm" value="delete" type="submit" > -->
                            <button class="btn btn-sm" id="btn-del" type="submit">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    
                    <% } %>
                </div>
            </div>
            
        <% }); %>
    </div>
</div>


<%- include ("../partials/footer") %> 
