<%- include ("../partials/header") %> 

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="display-4">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item list-group-item-primary">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img class="img-responsive" src="<%= campground.image %>">
                <div class="caption">
                    <h4 class="float-right">$9.00</h4>
                    <h4><a href=""><%=campground.name%></a></h4>
                    <p><%= campground.description %></p>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new ">Add New Comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12 comment">
                            <strong><%= comment.author %></strong>
                            <span class="float-right">10 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                        </div>
                    </div>
                    
                <% }); %>
            </div>
        </div>
    </div>
</div>




<p>
</p>



<%- include ("../partials/footer") %> 
