<%- include ("../partials/header") %> 

<div class="container">
    <header class="jumbotron">
        <h1>Welcome to YelpCamp</h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, totam!

        <p>
            <a class="btn btn-primary mt-3" href="/campgrounds/new">Add new Campground</a>
        </p>

    </header>
    <div class="row">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-4 col-sm-6 col-6" id="camp-card">
                <a href="/campgrounds/<%= campground._id %>">
                    <img class="card-img-top" src="<%= campground.image %> " alt="">
                    <div class="card-body p-0">
                        <h5 class="card-title bg-light text-dark " id="camp-card-title">
                            <%= campground.name %>
                        </h5>
                    </div>
                </a>
            </div>
        <% }); %>
    </div>


</div>
<%- include ("../partials/footer") %> 
